.main-chat
  .main-header
    .main-header__left
      .main-header__left__group
        = @group.name
      .main-header__left__member
        - @group.group_users.each do |group_user|
          = group_user.user.name
    .main-header__right
      = link_to edit_group_path(@group.id), class: "main-header__right__btn" do
        Edit
  .main-messages
    = render @messages

  .main-form
    .main-form__new-message
      = form_for [@group, @message] do |f|
        = f.text_field :content, class: 'typebox__text', placeholder: 'type a message'
        
        = f.label :image, class: 'typebox__image' do
          = icon('fas', 'image', class: 'icon')
          = f.file_field :image, class: 'typebox__image__file'
        = f.submit 'Send', class: 'submit-btn'