.side-bar
  .side-header
    .side-header__box
      .side-header__box__user-name
        = current_user.name
      .side-header__box__menu
        = link_to '#', class: "side-header__box__menu__edit-group" do
          = icon('far', 'edit')
        = link_to edit_user_path(current_user) do
          = icon('fas', 'cog')  #歯車のアイコンをクリックすると、作成した編集ページに遷移する
  
  %ul.group
    %li.group__group-name
      Techcamp1
    %li.group__group-message
      こんにちは
  %ul.group
    %li.group__group-name
      Techcamp2
    %li.group__group-message
      こんにちは